.main{
    text-align: center;
    padding: 130px 0;
  }
  .f{
    color:#4285F4;
    }
    .u{
    color:#DB4437
    }
    .n{
      color: #F4B400
    }
    .d{
      color:#4285F4;
    }
    .o{
      color:  #0F9D58
    }
    .O{
      color:#DB4437
    }
    .mat-card{
      display: inline-block;
    }
    